<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firewallminor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.kevinbradford.games.puzzles"/>
        <package android:name="com.teachersparadise.fingertracing001"/>
        <package android:name="com.kevinbradford.games.seventhgrade"/>
        <package android:name="fr.lehovetzki.ABMath"/>
        <package android:name="com.teachersparadise.fingertracing002"/>
        <package android:name="com.nadstech.aesopsfables.AOTUAFGDTHFBBJHMIW"/>
        <package android:name="jp.komakuro.book11339"/>
        <package android:name="com.android.aldiko"/>
        <package android:name="com.intellijoy.pack.tracing"/>
        <package android:name="com.movinapp.facts.universe"/>
        <package android:name="com.google.android.marvin.talkback"/>
        <package android:name="com.movinapp.facts.animal"/>
        <package android:name="com.google.android.marvin.talkback"/>
        <package android:name="com.movinapp.facts.animal"/>
        <package android:name="com.shinycube.android.fun4kids.animalsmemorygame"/>
        <package android:name="com.avg.cleaner"/>
        <package android:name="com.kevinbradford.games.byanimalsvpp"/>
        <package android:name="com.kevinbradford.games.bypuzzles"/>
        <package android:name="com.appwings.basicgeometry"/>
        <package android:name="ccom.beeclever.alphabet.en"/>
        <package android:name="com.sirma.mobile.bible.android"/>
        <package android:name="com.kevinbradford.games.bingo"/>
        <package android:name="com.effectiveobjects.bspelling"/>
        <package android:name="com.kevinbradford.games.cartruckpuzzles"/>
        <package android:name="cc.chess.full"/>
        <package android:name="org.scoutant.cc"/>
        <package android:name="com.lulo.scrabble.classicwordsplus"/>
        <package android:name="com.intellijoy.tapandcolor"/>
        <package android:name="com.kevinbradford.games.coloring"/>
        <package android:name="com.socratica.mobile.countries"/>
        <package android:name="com.teachersparadise.daysmonths"/>
        <package android:name="com.digitalbusiness.DigitalPanFree"/>
        <package android:name="com.kiddoware.kidsplace"/>
        <package android:name="com.upskew.encode"/>
        <package android:name="livio.pack.lang.en_US"/>
        <package android:name="com.app.grammarenglishpremium"/>
        <package android:name="com.zayaninfotech.english.grammaradfree"/>
        <package android:name="com.springz.easyenglish_adfree"/>
        <package android:name="com.qkstudio.english.grammar.test"/>
        <package android:name="com.springz.letter_writing_adfree"/>
        <package android:name="com.examenglish.englishtenses"/>
        <package android:name="com.nimbleminds.everydaywords2full"/>
        <package android:name="com.kevinbradford.games.fairytalepuzzles"/>
        <package android:name="com.kevinbradford.games.fifthgrade"/>
        <package android:name="com.kevinbradford.games.firstgrade"/>
        <package android:name="com.nimbleminds.everydaywordsfull"/>
        <package android:name="com.kevinbradford.games.fourthgrade"/>
        <package android:name="com.appletreebook.foxandgrapes"/>
        <package android:name="com.SimplyLearningAid.SimplyFBingoFull"/>
        <package android:name="com.french.zeemish"/>
        <package android:name="com.webrich.gepos"/>
        <package android:name="me.fasttest.grammar"/>
        <package android:name="my.handrite.prem"/>
        <package android:name="com.itellyouastory.android.adfree"/>
        <package android:name="com.globile.ipractise"/>
        <package android:name="com.appletreebook.jackandbeanstalk"/>
        <package android:name="cbs.jsm.android.app.Pro"/>
        <package android:name="cbs.jsm.android.app"/>
        <package android:name="home.widgetlabs"/>
        <package android:name="com.anahoret.android.letters"/>
        <package android:name="com.intellijoy.android.phonics"/>
        <package android:name="com.intellijoy.abc.trains"/>
        <package android:name="com.nightboost.kids.animals"/>
        <package android:name="com.shinycube.android.fun4kids.kidsopposite"/>
        <package android:name="com.anahoret.android.colors"/>
        <package android:name="com.anahoret.android.dots"/>
        <package android:name="com.intellijoy.drawwithshapes"/>
        <package android:name="com.intellijoy.kids.math"/>
        <package android:name="com.intellijoy.shapes2"/>
        <package android:name="com.intellijoy.counting"/>
        <package android:name="com.intellijoy.android.reading"/>
        <package android:name="com.intellijoy.sorting"/>
        <package android:name="com.infinut.firstgrade.measure"/>
        <package android:name="com.anahoret.android.numbers"/>
        <package android:name="com.kiddoware.kidspictureviewer"/>
        <package android:name="com.anahoret.android.shapes"/>
        <package android:name="com.divmob.kidpuzzleworldadfree"/>
        <package android:name="com.kiddoware.scheduler"/>
        <package android:name="com.intellijoy.sightwords"/>
        <package android:name="com.intellijoy.tellingtime"/>
        <package android:name="com.kiddoware.kidsvideoplayer"/>
        <package android:name="com.intellijoy.tellingtime"/>
        <package android:name="com.kiddoware.kidsvideoplayer"/>
        <package android:name="com.kevinbradford.games.wbk"/>
        <package android:name="com.infinut.kindergarten.math"/>
        <package android:name="com.infinut.kindergarten.wordplay"/>
        <package android:name="com.infinut.kindergarten.wordplay"/>
        <package android:name="com.alkalinelabs.learnguitarchords.kidsplace"/>
        <package android:name="com.ufo.learnfrance"/>
        <package android:name="com.rooh.learn_spanish"/>
        <package android:name="com.ufo.learnspanish"/>
        <package android:name="com.newlifegroup.learnspanish"/>
        <package android:name="com.appletreebook.littleredridinghood"/>
        <package android:name="com.arent.magiccolor"/>
        <package android:name="com.chilisapps.android.mathAttackPro"/>
        <package android:name="com.funmathtricks"/>
        <package android:name="net.mathsworkout"/>
        <package android:name="com.berniiiiiiii.logomatchup"/>
        <package android:name="com.gaga.memory"/>
        <package android:name="com.merriamwebster.premium"/>
        <package android:name="com.divmob.multiplicationgenius.game"/>
        <package android:name="com.biblestory.android.story"/>
        <package android:name="com.gokids.notes"/>
        <package android:name="com.teachersparadise.numeros"/>
        <package android:name="air.nurseryrhymewithactivities1"/>
        <package android:name="air.NurseryRhyme2"/>
        <package android:name="air.NurseryRhyme3"/>
        <package android:name="air.nurseryrhyme4withactivity"/>
        <package android:name="air.NurseryRhyme5"/>
        <package android:name="com.kevinbradford.games.owlpreschool"/>
        <package android:name="com.pearson.grammar.intermediate"/>
        <package android:name="air.com.literacysoft.PhonicsAndReadingWithMcGuffey"/>
        <package android:name="com.kevinbradford.games.pklg2"/>
        <package android:name="com.kevinbradford.games.preschoolgames"/>
        <package android:name="com.kevinbradford.games.preschoolfun"/>
        <package android:name="com.requestanapp.readingcomprehensionpaid"/>
        <package android:name="com.kevinbradford.games.redwrecker"/>
        <package android:name="com.nimbleminds.rhymingwordsfull"/>
        <package android:name="com.kevinbradford.games.secondgrade"/>
        <package android:name="de.underflow.calc"/>
        <package android:name="com.appworms.shakespeare"/>
        <package android:name="com.SimplyLearningAid.SimplyFracFull"/>
        <package android:name="com.SimplyLearningAid.SimplyFrac2Full"/>
        <package android:name="com.SimplyLearningAid.SimplyFrac3Full"/>
        <package android:name="com.SimplyLearningAid.SimplyGeoFull"/>
        <package android:name="com.SimplyLearningAid.SimplyNumFull"/>
        <package android:name="com.kevinbradford.games.sixthgrade"/>
        <package android:name="com.appletreebook.snowqueen"/>
        <package android:name="livio.pack.lang.es_ES"/>
        <package android:name="com.zeemish.spanish"/>
        <package android:name="air.com.mingoville.speaktionary"/>
        <package android:name="air.se.gobias.spell"/>
        <package android:name="com.igoldtech.an.swiped"/>
        <package android:name="com.alifinnovative.SynonymsAntonymsDictionary"/>
        <package android:name="com.appletreebook.theadventuresofpinocchio"/>
        <package android:name="com.appletreebook.thefishermanandthegoldenfish"/>
        <package android:name="com.appletreebook.thefrogprince"/>
        <package android:name="com.appletreebook.thelionandthebull"/>
        <package android:name="com.appletreebook.saltmerchantandhisdonkey"/>
        <package android:name="com.appletreebook.tortoiseandtheeagle"/>
        <package android:name="com.appletreebook.wolfinsheepclothing"/>
        <package android:name="com.appletreebook.thegoose"/>
        <package android:name="com.appletreebook.thewildswans"/>
        <package android:name="com.kevinbradford.games.thirdgrade"/>
        <package android:name="com.lefto4.timestables"/>
        <package android:name="com.gamestar.pianoperfect"/>
        <package android:name="com.appletreebook.sevenlittlegoats"/>
        <package android:name="fr.lehovetzki.worddomino"/>
        <package android:name="com.wordwebsoftware.android.wordweb"/>
        <package android:name="com.kevinbradford.games.zoopuzzles"/>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="AndroidFirewall"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name="com.example.firewallminor.ActivityMain"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.firewallminor.BlackHoleService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true"/>
        </service>

        <receiver android:name="com.example.firewallminor.Receiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
